table {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headTr {
  font-size: 22px;
  color: black;
}

table tr td {
  padding: 15px 0 15px 15px;
  border: 3px solid rgb(135, 134, 134);
}

.scrollsTr td {
  width: 120px;
}

.addingTD td {
  width: 120px;
  color: blue;
}

.rowButton {
  cursor: pointer;
  color: white;
  background-color: red;
  padding: 10px 10px 10px 10px;
}
.allDeleting {
  cursor: pointer;
  background-color: red;
  padding: 10px 10px 10px 10px;
}

.allDeleting span {
  color: white;
}

.selectingElems {
  cursor: pointer;
  background-color: blue;
  padding: 10px 10px 10px 10px;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.selectedItems {
  cursor: pointer;
  text-transform: capitalize;
  background-color: black;
  color: white;
  width: 145px;
  height: 65px;
}

.selectingElems span {
  color: white
}

.blueSelection {
  border: 4px solid blue;
}

table tr div {
  padding: 15px 20px 15px 20px;
  border: 3px solid rgb(135, 134, 134);
}

.buttonInput {
  width: 100%;
  background-color: blue;
  color: white;
}

.createElem td {
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
  border: 2px solid white;
  padding: 12px 12px 12px 40px;
  border-radius: 25%;
}